<nav class="navbar navbar-expand-lg navcolor ">
    <div class="container-xl">
      <!-- Logo -->
      <a class="navbar-brand" href="#">
        <i class="fa-solid fa-sack-dollar"></i>
      </a>
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <!-- Nav -->
        <div class="navbar-nav mx-lg-auto">
          <a class="nav-item nav-link active" href="/" aria-current="page">داشبورد</a>
          <a class="nav-item nav-link" href="/income">دریافت</a>
          <a class="nav-item nav-link" href="/expense">پرداخت</a>
          <a class="nav-item nav-link" href="/persons">اشخاص</a>
          <a class="nav-item nav-link" href="/tags">تگ ها</a>
          <a class="nav-item nav-link" href="/category">دسته‌بندی</a>
          <a class="nav-item nav-link" href="/budget">بودجه بندی</a>
          <a class="nav-item nav-link" href="/credit">طلب</a>
          <a class="nav-item nav-link" href="/debt">بدهی</a>
          <a class="nav-item nav-link" href="/install">اقساط</a>
          <a class="nav-item nav-link" href="/sooraneh">سورانه </a>
        </div>
        <!-- Right navigation -->
        <div class="navbar-nav ms-lg-4">
            <a class="nav-item nav-link" href="/logout">خروج</a>
        </div>
      </div>
    </div>
  </nav>

