<div class="hs-sidebar" id="mySidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
     <!-- Dropdown menu links -->
     <a href="/" aria-current="page">داشبورد</a><br/>
     <a href="/income">دریافت</a><br/>
     <a href="/expense">پرداخت</a><br/>
     <a href="/persons">اشخاص</a><br/>
     <a href="/tags">تگ ها</a><br/>
     <a href="/category">دسته‌بندی</a><br/>
     <a href="/budget">بودجه بندی</a><br/>
     <a href="/credit">طلب</a><br/>
     <a href="/debt">بدهی</a><br/>
     <a href="/install">اقساط</a><br/>
     <a href="/sooraneh">سورانه </a><br/>
        
</div>