<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %}
    </title>
    <script src="../static/persiandatepicker/jalalidatepicker.js"></script>
    <link rel="stylesheet" href="../static/persiandatepicker/jalalidatepicker.css" />
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.rtl.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.rtl.min.css">
    <link href="../static/fontawesome/css/fontawesome.css" rel="stylesheet" />
    <link href="../static/fontawesome/css/brands.css" rel="stylesheet" />
    <link href="../static/fontawesome/css/solid.css" rel="stylesheet" />
    <link rel="stylesheet" href="../static/my.css">
        <!-- Specific Page CSS goes HERE  -->
        {% block stylesheets %}
        {% endblock stylesheets %}

</head>
    <body>
        
        {% include 'includes/navbar.html' %}
        <span  onclick="openNav()">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1899/xlink" version="1.1" x="0px" y="0px" width="26px" height="18px" viewBox="0 0 26 18" enable-background="new 0 0 26 18" xml:space="preserve"><path d="z"/><g>
              <rect y="1" width="26" height="3" rx="2" ry="2" class="gc"/>
              <rect y="8" width="26" height="3" rx="2" ry="2" class="gc"/>
              <rect y="15" width="26" height="3" rx="2" ry="2" class="gc"/></g>
              <path d="z"/>
            </svg>
          </span>
          <div class="hs-sidebar" id="mySidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
             <!-- Dropdown menu links -->
             <a href="/" aria-current="page">داشبورد</a><br/>
             <a href="/income">دریافت</a><br/>
             <a href="/expense">پرداخت</a><br/>
             <a href="/persons">اشخاص</a><br/>
             <a href="/tags">تگ ها</a><br/>
             <a href="/category">دسته‌بندی</a><br/>
             <a href="/budget">بودجه بندی</a><br/>
             <a href="/credit">طلب</a><br/>
             <a href="/debt">بدهی</a><br/>
             <a href="/install">اقساط</a><br/>
             <a href="/sooraneh">سورانه </a><br/>
                
        </div>   
        {% block content %}
        {% endblock %}
            
    </body>
    <nav class="mobile-nav">
        <a href="/" class="bloc-icon">
            <i class="fa-solid fa-house"></i>
        </a>
        <a href="/income" class="bloc-icon">
            <i class="fa-solid fa-plus"></i>
        </a>
        <a href="/expense" class="bloc-icon">
            <i class="fa-solid fa-minus"></i>
            
        </a>
        <a href="/tags" class="bloc-icon">
            <i class="fa-solid fa-tags"></i>
        </a>
        <a href="/logout" class="bloc-icon">
            <i class="fa-solid fa-power-off"></i>
        </a>
    </nav>
    <script>
        jalaliDatepicker.startWatch({
            minDate: "attr",
            maxDate: "attr",
            minTime: "attr",
            maxTime: "attr",
            hideAfterChange: true,
            autoHide: true,
            showTodayBtn: true,
            showEmptyBtn: true,
            topSpace: 10,
            bottomSpace: 30,
            dayRendering(opt,input){
                return {
                    isHollyDay:opt.day==1
                }
            }
        });
        
        document.getElementById("aaa").addEventListener("jdp:change", function (e) { console.log(e) });
    </script>
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>
        /* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
        function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
        }

        /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
        function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
        } 
    </script>
    {% block javascripts %}
    {% endblock javascripts %}
</html>