{% extends "base.html" %}
{% block title %} طلب ها {% endblock %}
{% block stylesheets %}
<style>
    .form-control-focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  }
  
  .was-validated :valid + .form-control-focus {
    border-color: #198754;
    box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.25);
  }
  
  .was-validated :invalid + .form-control-focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
  }
  </style>
{% endblock stylesheets %}
{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-success text-white text-center">
                        <h3> طلب‌ها</h3>
                    </div>
                    <div class="card-body">
                        <form action="/credit" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="amount">مبلغ</label>
                                        <input type="number" class="form-control" id="amount" name="amount" placeholder="مبلغ">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="person_id">بدهکار</label>
                                        <select name="person_id" id="person_id" class="form-select" aria-label="Default select example">
                                            <option selected disabled hidden value="">از بین افراد انتخاب کنید...</option>
                                            {% for person in persons %}
                                                <option value="{{person.id}}">{{person.id|person_name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label dir="rtl" for="date">تاریخ </label>
                                            <input name="date" data-jdp placeholder="تاریخ" id="date" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label dir="rtl" for="pay_date">تاریخ پرداخت</label>
                                            <input name="pay_date" data-jdp placeholder="تاریخ پرداخت" id="pay_date" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md">
                                    <div class="form-group">
                                        <label for="amount">شرح</label>
                                        <input type="text" class="form-control" id="text" name="text" placeholder="شرح">
                                    </div>
                            </div>
                            
                            <div class="text-center">
                              <button type="submit" class="btn btn-primary btn-block">تایید</button>
                                
                              </div>
                        </form>

                        <table class="table table-lg">
                            <thead>
                                <tr>
                                    <th>بدهکار </th>
                                    <th>مبلغ</th>
                                    <th>ویرایش</th>
                                    <th>حذف</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for credit in credits %}
                                <tr>
                                    <td><a href="/credit_page/{{credit.id}}" >{{credit.person|person_name}}</a></td>
                                    <td>{{credit.amount}}</td>
                                    <td><a href="/edit_credit/{{credit.id}}">ویرایش</a></td>
                                    <td><a href="/delete_credit/{{credit.id}}">حذف</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    
                </div>
            </div>

            

        </div>

        </div>
    </div>
    {% endblock %}
    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}
    <script type="module">
        import Tags from "../static/js/tags.js";
        Tags.init("select");
    </script>
    <script>
        jalaliDatepicker.startWatch({
            minDate: "attr",
            maxDate: "attr",
            minTime: "attr",
            maxTime: "attr",
            hideAfterChange: true,
            autoHide: true,
            showTodayBtn: true,
            showEmptyBtn: true,
            topSpace: 10,
            bottomSpace: 30,
            dayRendering(opt,input){
                return {
                    isHollyDay:opt.day==1
                }
            }
        });
        
        document.getElementById("aaa").addEventListener("jdp:change", function (e) { console.log(e) });
    </script>
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    {% endblock javascripts %}