<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>پرداخت</title>
    <script src="../static/persiandatepicker/jalalidatepicker.js"></script>
    <link rel="stylesheet" href="../static/persiandatepicker/jalalidatepicker.css" />
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.rtl.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.rtl.min.css">
    <link href="../static/fontawesome/css/fontawesome.css" rel="stylesheet" />
    <link href="../static/fontawesome/css/brands.css" rel="stylesheet" />
    <link href="../static/fontawesome/css/solid.css" rel="stylesheet" />
    <link rel="stylesheet" href="../static/my.css">
    <style>
        .form-control-focus {
        color: #212529;
        background-color: #fff;
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
      }
      
      .was-validated :valid + .form-control-focus {
        border-color: #198754;
        box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.25);
      }
      
      .was-validated :invalid + .form-control-focus {
        border-color: #dc3545;
        box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
      }
      </style>

</head>
</head>
<body>
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header bg-success text-white text-center">
                        <h3> فروردین </h3>
                    </div>
                    <div class="card-body">
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header bg-success text-white text-center">
                        <h3> اردیبهشت </h3>
                    </div>
                    <div class="card-body">
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header bg-success text-white text-center">
                        <h3> خرداد </h3>
                    </div>
                    <div class="card-body">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header red text-white text-center">
                        <h3> تیر </h3>
                    </div>
                    <div class="card-body">
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header red text-white text-center">
                        <h3> مرداد </h3>
                    </div>
                    <div class="card-body">
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header red text-white text-center">
                        <h3> شهریور </h3>
                    </div>
                    <div class="card-body">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header orange text-white text-center">
                        <h3> مهر </h3>
                    </div>
                    <div class="card-body">
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header orange text-white text-center">
                        <h3> آبان </h3>
                    </div>
                    <div class="card-body">
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header orange text-white text-center">
                        <h3> آذر </h3>
                    </div>
                    <div class="card-body">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header blue text-white text-center">
                        <h3> دی </h3>
                    </div>
                    <div class="card-body">
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header blue text-white text-center">
                        <h3> بهمن </h3>
                    </div>
                    <div class="card-body">
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header blue text-white text-center">
                        <h3> اسفند </h3>
                    </div>
                    <div class="card-body">
                        
                    </div>
                </div>
            </div>
        </div>
    
    <script>
        jalaliDatepicker.startWatch({
            minDate: "attr",
            maxDate: "attr",
            minTime: "attr",
            maxTime: "attr",
            hideAfterChange: false,
            autoHide: true,
            showTodayBtn: true,
            showEmptyBtn: true,
            topSpace: 10,
            bottomSpace: 30,
            dayRendering(opt,input){
                return {
                    isHollyDay:opt.day==1
                }
            }
        });
        
        document.getElementById("aaa").addEventListener("jdp:change", function (e) { console.log(e) });
    </script>
 
</body>
</html>