<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>صفحه کاربری</title>
    <script src="../static/persiandatepicker/jalalidatepicker.js"></script>
    <link rel="stylesheet" href="../static/persiandatepicker/jalalidatepicker.css" />
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.rtl.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.rtl.min.css">
    <link href="../static/fontawesome/css/fontawesome.css" rel="stylesheet" />
    <link href="../static/fontawesome/css/brands.css" rel="stylesheet" />
    <link href="../static/fontawesome/css/solid.css" rel="stylesheet" />
    <link rel="stylesheet" href="../static/my.css">

</head>
    
        <div class="container-fluid">
            <header class="text-center text-white">
                <h1>بده بستون</h1>
               <h3>نسخه ۰.۱</h3>
            </header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">Navbar</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">
                            <h5>مدیریت دخل و خرج</h5>
                        </div>
                        <div class="card-body">
                            <p>ثبت هزینه ها درامد ها</p>
                            <p>ثبت هزینه ها درامد ها</p> 
                            <p>ثبت هزینه ها درامد ها</p>     
                        </div>
                    </div>
                </div>
            </div>
            <body>

            </body>
        </div>
</html>