<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>صفحه ورود</title>
    <script src="../static/persiandatepicker/jalalidatepicker.js"></script>
    <link rel="stylesheet" href="../static/persiandatepicker/jalalidatepicker.css" />
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.rtl.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.rtl.min.css">
    <link href="../static/fontawesome/css/fontawesome.css" rel="stylesheet" />
    <link href="../static/fontawesome/css/brands.css" rel="stylesheet" />
    <link href="../static/fontawesome/css/solid.css" rel="stylesheet" />
    <link rel="stylesheet" href="../static/my.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-success text-white text-center">
                        <h3>ثبت نام  </h3>
                    </div>
                    <div class="card-body">
                        <form action="/register" method="post">
                            <div class="form-group">
                                <label dir="rtl" for="first_name">نام</label>
                                <input type="text" class="form-control" id="first_name" name="first_name" placeholder="نام خود را وارد کنید">
                            </div>
                            <div class="form-group">
                                <label dir="rtl" for="last_name">نام خانوادگی</label>
                                <input type="text" class="form-control" id="last_name" name="last_name" placeholder="نام خانوادگی خود را وارد کنید">
                            </div>
                            <div class="form-group">
                                <label dir="rtl" for="username">نام کاربری</label>
                                <input type="text" class="form-control" id="username" name="username" placeholder="نام کاربری خود را وارد کنید">
                            </div>
                            <div class="form-group">
                                <label for="password">رمز عبور</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="رمز عبور خود را وارد کنید">
                            </div>
                            <div class="form-group">
                                <label for="is_admin">Admin:</label>
                                <input type="checkbox" id="is_admin" name="is_admin"><br><br>
                            </div>
                            <button type="submit" value="Register" class="btn btn-primary btn-block">ثبت نام</button>
                            <div class="text-center">
                                <button type="button" class="btn btn-primary btn-lg" ><a href="/login"></a>ورود </button>
                              </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
</body>
</html>